@import "tailwindcss";


@theme{
  /* Colors */
  --color-blue-100: #0098DA;
  --color-blue-200: #3E4095;
  --color-blue-300: #14142F;
  --color-blue-400: #1F2168;
  --color-yellow-100: #FFCC29;
  --color-pink-100: #EC268F;
  --color-pink-200: #ED3883;
  --color-pink-300: #EE3884;
  --color-pink-400: #EE417E;


  --color-orange-100: #F78951;
  --color-orange-200: #F78853;

  /* Breakpoints */

  --breakpoint-xs: 400px;
  --breakpoint-3xl: 1680px;
  --breakpoint-4xl: 2200px;
}

@utility padding-container {
  @apply px-4 md:px-13 3xl:px-0;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
body {
  max-width: 1480px;
  margin: 0 auto;
}
