@import "tailwindcss";


@theme{
  /* Colors */
  --color-blue-100: #0098DA;
  --color-blue-200: #3E4095;
  --color-blue-300: #14142F;
  --color-yellow-100: #FFCC29;
  --color-pink-100: #EC268F;
}

body {
  
}
